<ngx-loading-bar></ngx-loading-bar>
<nav style="margin-top: 30px">
    <div class="navbar navbar-expand-sm" bg-light>
        <div class="container-fluid">
            <div class="navbar-nav">
                <li class="nava-item">
                    <a routerLink="colaborador/criar" class="nav-link" routerLinkActive="active">
                        Criar um novo colaborador
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="colaborador" class="nav-link" routerLinkActive="active">
                        Colaboradores
                    </a>
                </li>
            </div>
        </div>
    </div>
</nav>
<div class="container">
   <router-outlet></router-outlet>
</div>